PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/inventory

# Only use this in local development if your system has TLS certificate verification issues.
MONGO_TLS_ALLOW_INVALID_CERTIFICATES=false
